.main{
    font-family: 'Raleway';
    font-size: 20px;
    background-image: url('/static/images/logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.err_404 > h3 > p{
  font-size: 20px;
  color: white;
}
