{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

 <div class="container">

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

  <div class="form-row">
    <div class="form-group col-md-6">
    {% render_field form.first_name class="form-control" placeholder="Enter First Name"%}
    {{form.first_name.errors}}
    </div>
    <div class="form-group col-md-6">
    {% render_field form.last_name class="form-control" placeholder="Enter Last Name"%}
    {{form.last_name.errors}}
    </div>
  </div>
  <div class="form-group">
    {% render_field form.full_address class="form-control" placeholder="Enter Full Address"%}
    {{form.full_address.errors}}
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
    Date of birth : {% render_field form.date_of_birth class="form-control" placeholder="Date of birth"%}
    {{form.date_of_birth.errors}}
    </div>
    <div class="form-group col-md-4">
      Age : {% render_field form.age class="form-control" placeholder="Age"%}
    {{form.age.errors}}
    </div>
    <div class="form-group col-md-4">
      Sex : {% render_field form.sex class="form-control" placeholder="Sex"%}
    {{form.sex.errors}}
    </div>
  </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        {% render_field form.height class="form-control" placeholder="Height"%}
        {{form.height.errors}}
        </div>
        <div class="form-group col-md-6">
        {% render_field form.weight class="form-control" placeholder="Weight"%}
        {{form.weight.errors}}
        </div>
    </div>
   <div class="form-row">
        <div class="form-group col-md-6">
        {% render_field form.phone_number class="form-control" placeholder="Phone Number"%}
        {{form.phone_number.errors}}
        </div>
        <div class="form-group col-md-6">
        {% render_field form.alternate_phone class="form-control" placeholder="Alternate Phone"%}
        {{form.alternate_phone.errors}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        Membership Start Date : {% render_field form.membership_start_date class="form-control" placeholder="Membership Start Date"%}
        {{form.membership_start_date.errors}}
        </div>
        <div class="form-group col-md-6">
        Membership End Date : {% render_field form.membership_end_date class="form-control" placeholder="Membership End Date"%}
        {{form.membership_end_date.errors}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        {% render_field form.blood_group class="form-control" placeholder="Blood group"%}
        {{form.blood_group.errors}}
        </div>
        <div class="form-group col-md-6">
        {% render_field form.medical_history class="form-control" placeholder="Medical History"%}
        {{form.medical_history.errors}}
        </div>
    </div>
  <center><button type="submit" class="btn btn-outline-primary">Submit</button></center>
</form>
</div>


{% endblock content %}
