{% extends "base.html" %}
{% block content %}
  <div class="container">
  <form method="GET">
      <label class="control-label ">
        First Name
      </label>
      <div class="form-group">
        <input type="text" name="first_name" onfocus="this.value=''" value='{{ request.GET.first_name}}'>
        <!-- {% render_field form.part_number class="textinput textInput" value='{{ request.GET.part_number}}' %} -->
      </div>
      <label class="control-label ">
        Last Name
      </label>
      <div class="form-group">
        <input type="text" name="last_name" onfocus="this.value=''" value='{{ request.GET.last_name}}'>
        <!-- {% render_field form.part_number class="textinput textInput" value='{{ request.GET.part_number}}' %} -->
      </div>
      <div>
        <input type="submit" value="Search" class="btn btn-primary" id="submit-id-submit">
      </div>
  </form>
  <br>
  <table class="table" style="margin:auto;padding:auto;">
    <thead  class="thead-dark">
      <tr>
        <th scope="row"></th>
        <th scope="col">Customer</th>
        <th scope="col">Eda Tool</th>
        <th scope="col">ATE</th>
        <th scope="col">Config Name</th>
        <th scope="col">Upload Design CPR</th>
        <th scope="col">Edit Signal_types</th>
        <th scope="col">Edit Tester Slots</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for search in search_list %}
      <tr>
        <th scope="row"></th>
        <td>{{search.first_name}}</td>
        <td>{{search.last_name}}</td>
        <td>{{search.membership_start_date }}</td>
        <td>{{search.membership_end_date}}</td>

        {% if search.id  %}
          <td><a class="btn btn-outline-info" href="{% url 'update' pk=search.id %}">Update</a></td>
          <!-- <td><a class="btn btn-outline-info" href="{% url 'staff_update' pk=search.id %}">Edit</a></td>
          <td><a class="btn btn-outline-info" href="{% url 'edit_tester' id=search.id %}">Edit</a></td> -->

          <!-- <td>{{search.created_date}}</td>
          <td>{{search.updated}}</td> -->


        {% else %}
        {% endif %}
        {% empty %}
        {% endfor %}
        </tr>
      </tbody>
    </table>
    </div>
    <!-- {% if search_list.has_other_pages %}
    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if search_list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ search_list.previous_page_number }}" aria-label="Previous">
          &laquo;
        </a>
      </li> -->
      <!-- {% else %}
      <li class="page-item"><span>&laquo;</span></li>
      {% endif %}
      {% for i in search_list.paginator.page_range %}
      {% if search_list.number == i %}
      <li class="page-item active" aria-current="page"><span>{{ i }}</span>
        <span class="sr-only">(current)</span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if search_list.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ search_list.next_page_number }}">&raquo;</a></li>
      {% else %}
      <!-- <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span>&raquo;</span>
        </a>
      </li> -->
      <!-- {% endif %} -->
    <!-- </ul> -->
    <!-- {% endif %} -->
    <!-- </nav> -->
<!-- </div> -->

{% endblock %}}
